.hero {
    background-color: #000000;
}

.hero__subtitle {
    font-size: 18px;
}

.hero__btn {
    width: 234px;
    height: 65px;
}

.hero__inner {
    display: flex;
    gap: 45px;
    padding-top: 70px;
    padding-bottom: 60px;
}

.hero__content--left,
.hero__content--right {
    flex: 1;
}

.hero__content--right {
    overflow: hidden;
    position: relative;
}

.hero__content--left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero__subtitle {
    padding-bottom: 45px;
}

.hero__title {
    padding-top: 19px;
}

.hero__item--title {
    color: #FFF;
    font-family: "ANS";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    & span {
        color: #FF4800;
    }
}

.hero__item--subtitle {
    font-size: 16px;
    padding-bottom: 57px;
}

.hero__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    padding-bottom: 37px;
    border-radius: 7px;
    background: #191B1D;
    padding-left: 40px;
    overflow: hidden;
}

.hero__item--btn {
    width: 156px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Aeroport;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 7px;
    border: 1px solid #FFF;
    background-color: transparent;
}

.hero__item--img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

.hero__content--right .swiper-pagination {
    color: #FFF;
    font-family: Aeroport;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 30px;
    left: 40px;
    border-bottom: 1px solid #53575B;
    width: max-content;
    height: max-content;
    padding-bottom: 8px;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #FFF;
        transform-origin: left;
        transform: scaleX(0);
    }

    &.active::after {
        animation: swiperLine 6s ease-in-out;
    }

}

@keyframes swiperLine {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.hero__inner--bottom {
    padding-top: 60px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}

.priority-list {
    display: flex;
    gap: 30px;
}

.priority-list__item {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 7px;
    background: #191B1D;
    padding: 25px 20px;
    max-width: 282px;
}

.priority-list__item--img {
    max-width: 44px;
    aspect-ratio: 44/44;
    object-fit: cover;
    object-position: center;
}

.socials {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.socials-list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.catalog__filtres {
    display: flex;
    gap: 10px;
}

.catalog__filtres-item {
    padding: 14px 25px;
    border-radius: 7px;
    background: transparent;
    color: black;

    &.active {
        background: #141517;
        color: white;
    }
}

.button-all {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.padding-inner {
    padding: 80px 0;
}

.catalog__title {
    padding-bottom: 20px;
}